<div *ngIf="flight" class="detail__container">
  <app-details-header [flight]="flight"></app-details-header>
  <hr/>
  <main class="detail__body">
    <section>
      <span>
        Lot: <span class="text--bold">{{ flight.name }}</span>
      </span>
      <span>
        Data lotu:
        <span class="text--bold">{{
          flight.date_utc | date: 'YYYY-MM-dd'
          }}</span>
      </span>
      <span>
        Status: <span class="text--bold" *ngIf="flight.success">Udany</span>
        <span class="text--bold" *ngIf="!flight.success">Nie udany</span>
      </span>
    </section>
    <section>
      <span>
        Załoga:
        <span class="text--bold">{{ flight.crew.length }}</span>
      </span>
      <span>
        Rakieta: <span class="text--bold">{{ flight.rocket }}</span>
      </span>
      <span>
        Start: <span class="text--bold">{{ launchStart }}</span>
      </span>
    </section>
    <section
      *ngIf="flightGallery && flightGallery.length > 0"
      class="gallery__container">
      <app-details-gallery [flightGallery]="flightGallery"></app-details-gallery>
    </section>
    <section *ngIf="flight.details">{{ flight.details }}</section>
  </main>
</div>
