@import '../../../style/variables';

.detail {
  &__container {

    animation: zoomInUp;
    animation-duration: 800ms;

    font-family: $font-1;
    max-width: $breakpoint-1;
    width: 100%;
    margin: 1rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $breakpoint-2) {
      max-width: $breakpoint-2;
    }
    @media only screen and (min-width: $breakpoint-3) {
      max-width: $breakpoint-3;
    }
  }


  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
    margin-top: 1.5rem;

    section {
      background-color: $bg-color-1;
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 40px rgba(0 0 0 / 35%);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 2rem 1.5rem;
      width: 100%;

      @media only screen and (min-width: $breakpoint-2) {
        width: 49%;
      }

      &:last-child {
        width: 100%;
      }

      .text--bold {
        font-weight: bold;
      }
    }

    .gallery {
      &__container {
        width: 100%;
        padding: 0;
      }
    }
  }
}
