@import '../../style/variables.scss';

@mixin searchBoxes {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
}

.app__container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: $breakpoint-1;
  width: 100%;
  //Header search view
  .search {
    &__container {
      color: $text-color-1;
      font-family: $font-1;
    }

    &__nameBox {
      @include searchBoxes;
    }

    &__dateBox {
      @include searchBoxes;
    }

    &__successFlyBox {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      align-items: center;
      margin-bottom: 2rem;
    }

    &__btn {
      width: 100%;
      background: $btn-color-1;
      font-size: 13px;
    }
  }

  @media only screen and (min-width: $breakpoint-2) {
    max-width: $breakpoint-2;

    .search {
      &__container {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: center;
        align-items: baseline;

        div,
        button {
          width: ($breakpoint-2 / 2) - 40px;
        }
      }
    }

    .app__separator {
      display: none;
    }
  }
  @media only screen and (min-width: $breakpoint-3) {
    max-width: $breakpoint-3;

    .search {
      &__container {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 20px;
        align-items: center;
      }

      &__successFlyBox {
        margin-bottom: 0;
      }
    }
  }

  //main content

  .pagination__container {
    display: flex;
    column-gap: 2rem;
    margin: 2rem auto;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    span {
      font-size: 1.2rem;
    }

    button {
      position: absolute;
    }
    #pagBtnLeft {
      left: 0;
      top: 0;
    }
    #pagBtnRight {
      right: 0;
      top: 0;
    }
  }
}
