<app-get-data-rocket-loader  *ngIf="!flights"></app-get-data-rocket-loader>
<div class="app__container" *ngIf="flights">
  <header>
    <form class="search__container" #form="ngForm" (submit)="onSubmit()">
      <div class="search__nameBox">
        <label for="nazwaLotu">Nazwa lotu</label>
        <input
          name="nazwaLotu"
          type="text"
          pInputText
          [(ngModel)]="nameFly"
          id="nazwaLotu"
          placeholder="Wpisz nazwę"/>
      </div>
      <div class="search__dateBox">
        <label for="dataLotu">Data lotu</label>
        <input
          placeholder="RRRR/MM/DD - RRRR/MM/DD"
          type="text"
          name="dataLotu"
          id="dataLotu"
          class="form-control"
          bsDaterangepicker
          pInputText
          #dpr="bsDaterangepicker"
          [bsConfig]="{ isAnimated: true }"
          [(ngModel)]="dateFly"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [bsConfig]="{
            rangeInputFormat: 'YYYY/MM/DD',
            dateInputFormat: 'YYYY/MM/DD',
            showWeekNumbers: false,
            adaptivePosition: true
          }"/>
      </div>
      <div class="search__successFlyBox field-checkbox">
        <p-checkbox
          inputId="udaneLoty"
          name="udaneLoty"
          [(ngModel)]="successFly"
          [binary]="true"></p-checkbox>
        <label for="udaneLoty">Pokaż tylko udane loty</label>
      </div>
      <button
        pButton
        type="button"
        label="szukaj"
        class="search__btn"
        (click)="onSubmit()"></button>
    </form>
  </header>
  <hr class="app__separator"/>
  <app-list-item [flights]="flights"></app-list-item>
  <div class="pagination__container">
    <button
      id="pagBtnLeft"
      pButton
      (click)="paginationChange('back')"
      *ngIf="backPageBtnControl()"
      class="p-button-rounded">
      <i class="pi pi-arrow-left"></i>
    </button>
    <span>Strona: {{ pageNum }} </span
    >
    <button
      id="pagBtnRight"
      pButton
      (click)="paginationChange('next')"
      *ngIf="nextPageBtnControl()"
      class="p-button-rounded">
      <i class="pi pi-arrow-right"></i>
    </button>
  </div>
</div>
