@import '../../../../style/variables';
.detail {
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
    padding-left: 1.5rem;

    .image__backArrow {
      cursor: pointer;
    }

    h2 {
      border-left: $text-color-1 solid 1px;
      color: $text-color-1;
      margin: 0;
      min-height: 52px;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: bolder;
    }
  }
}
