$text-color-1: #848383;
$text-color-2: #b7b7b7;

$btn-color-1: rgba(48, 194, 213, 1);

$bg-color-1: rgba(255, 255, 255, 1);
$bg-color-2: rgba(244, 242, 242, 1);

$font-1: 'ArialMT', 'Arial', sans-serif;

$breakpoint-1: 480px;
$breakpoint-2: 768px;
$breakpoint-3: 1200px;
